
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
 
    background-image: url("../assets/images/photo-1484665739383-a1069a82d4be.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.navbar {
    font-size: 30px;
    padding: 40px;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;

}

.navbar-toggler-icon {
    width: 100px;
    color: red;
    border: 2px solid black;
    border-radius: 20px;
    height: 50px;
}

.project-container {
    background: rgba(200, 54, 54, 0); 
    padding: 0.5em; 
    margin: 8vh auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-around;
}

.paragraph {
    /* height: 70px; */
    margin: 5px;
}

.project-div {
    margin: 1.5em;
    text-align: center;
    box-shadow: 5px 10px 5px 10px #888888;
    border-radius: 80px;
    font-size: 18px;
    color: white;

 
}

.project-div:hover {
    animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



nav {
   font-size: 25px;
   font-family: 'Abril Fatface', cursive;

}

#logo {
    color: #A1ED70;
    font-size: 46px;
    font-family: 'Abril Fatface', cursive;
}


h1 {
    border: 2px;
    padding: 41px;
    font-weight: bold;
    margin-top:0px;
    margin: auto;
    display: inline-block;
    color: #0E66D8;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    cursor: cell;
    width: 400px;
    height: 125px;
    text-align: center;
    position: relative;

} 

img.index-image {
    height: 400px;
    width: 390px;
    border-radius: 500px;
   
}

img.index-image:hover {
    transform: rotateY(180deg);
}

img.content4 {
   height: 200px; 
   width: 300px;
   border-radius: 50px; 
   margin-top: 5px;
}


.card-body {
    width: 350px;
}



textarea {
  border: 1px solid black;
} 

footer{
    background-color:#666666;
    padding: 10px;
    margin-top: 400px;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    color: white;
    clear:both;
    position: relative;

}

a {
    text-decoration: none;
    color: white;
}

.nav-link {
    color: white;
}

.source {
    font-weight: bold;
    font-size: 25px;
    color: #A1ED70;
    text-decoration: underline;
} 

.index-container {
    background: rgba(200, 54, 54, 0);
    padding: 0.5em; 
    margin: 6vh auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
}

.about-yan {
    color: #CCD3CC;
    font-family: 'Crete Round', serif;
    font-size: 26px;
    margin: 0.5em;
    text-align: center;
}

.about-yan:hover {
    color: white;
}

.container {
    margin: 25vh auto 0;
}

form {
    margin: 0 auto;
  
}


label {
    color: #CCD3CC;
    font-family: 'Crete Round', serif;
    font-size: 26px;
}

.card {
    background: rgba(0, 0, 0, 0);
}


.name {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 50px;
}